.section {
  position: relative;
}
.faq {
  padding-bottom: 5rem;
}
.background-full::before,
.background-full::after {
  width: calc((100% - var(--page-width)) / 2);
  height: 100%;
  content: "";
  background: inherit;
  position: absolute;
  top: 0;
}
.background-full::before {
  left: 0;
}
.background-full::after {
  right: 0;
}
.section__heading {
  font-size: 4.8rem;
  text-align: center;
}
.question--block {
  border: 1px solid #000;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.question--block:last-of-type {
  margin-bottom: 0;
}

.question {
  padding: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}
.answer {
  display: none;
  margin: 0;
  padding: 1rem;
}
.answer.open {
  display: block;
  border-top: 1px solid #ccc;
}
